.dashboard {
    -fx-background-color: #EEEEEE;
}

.user_name {
    -fx-font-size: 2.6em;

}

.date_lbl {
    -fx-text-fill: #AAAAAA;
    -fx-font-family: "Calibri Light";
}
.section_title {
    -fx-font-size: 1.2em;
    -fx-font-family: "Calibri Light";
}

/* Accounts View*/
.status_view {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10 0 0 10;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #DDDDDD;
    -fx-spacing: 10;
}

.status_box {
    -fx-background-color: #FBEAFF;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, #bdbdbd, 5 , 0 , 0 , 5);
}
.account_box {
    -fx-background-color: linear-gradient(to right, #FFE0A8,   #FFC75F);

}
.status_box Text {
    -fx-fill: #2b2b2b;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1em;
}


.status_box FontAwesomeIconView {
    -fx-alignment: center;
    -fx-fill: #242424;
}

.account_gradient {
    -fx-background-color: linear-gradient(to right, #FFE0A8,   #FFC75F);
}

.headings {
    -fx-text-fill: #444444;
    -fx-font-family: Calibri;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}


/* Account Summary view */
.summary_view {
    -fx-background-color: white;
    -fx-padding: 5 10 5 10;
    -fx-spacing: 5;
    -fx-alignment: center_left;
}

.acc_summary_container {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center_left;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 1;
    -fx-border-style: dashed;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.acc_summary_container Line {
    -fx-stroke: #AAAAAA;
}

.cutoff_grade {
    -fx-text-fill: #00AA00;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}

.warning_grade {
    -fx-text-fill: #AA0000;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}


.table-view {
    -fx-background-color: #FFC75F;
    -fx-background-radius: 10px;
}

.table-column {
    -fx-background-color: #FFC75F;
    -fx-text-fill: white;

}

.first-column {
    -fx-background-radius: 10 0 0 0;
}

.last-column {
    -fx-background-radius: 0 10 0 0;
}

.table-row-cell:odd {
    -fx-background-color: #FFC75F33;
}


.table-row-cell:even {
    -fx-background-color: #FFE0A8;
}